<%#opakowanie całości w kontener%>
<section class="container">
<% title 'New' %>
<h1>New gist</h1>

<%= render 'form' %>
<%#bootstrapowe przyciski%>
<%= link_to 'Back', gists_path, :class=>'btn btn-info'%>
</section>
